

<dom-module id="attributes-list">
    
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
 
    <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="x-select.html">
         <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../bower_components/paper-styles/demo-pages.html">
    

    
     <style>      
         
         paper-icon-button.huge::shadow #icon {
      width: 40px;
      height: 40px;
        color: black;
        position: sticky;
        left: 5px;
        top: 30px;     
    }
    
      paper-icon-button.dropdown-trigger::shadow #icon {}     
         
    ul.dropdown-content {
    
        overflow-y: hidden;
        overflow-x: hidden;
        
    }
     
         
    </style>
    <template>
        
<div class="horizontal-section flex layout horizontal">
          <x-select>
            <paper-icon-button style="position: relative; right:25px;" class="dropdown-trigger" icon="menu"></paper-icon-button>  
            
              <ul style="list-style-type: none; position: relative; right:80px;" class="dropdown-content">
             
             <li><paper-icon-button class="huge" icon="arrow-back"></paper-icon-button></li>
             <li><paper-icon-button class="huge" icon="alarm-add"></paper-icon-button></li>
             <li><paper-icon-button class="huge" icon="chrome-reader-mode"></paper-icon-button></li>
             <li><paper-icon-button class="huge" icon="content-cut"></paper-icon-button></li>
             <li><paper-icon-button class="huge" icon="code"></paper-icon-button></li>
            
              </ul>
              
            </x-select>
    
        </div>
    </template>

        
    <script>
  

    Polymer({
        is: "attributes-list"
     });
    
    </script>

</dom-module>

