
<dom-module id="container-list">
    
    <link rel="import" href="thumbnail-view.html">
    <link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
 <link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
 <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
     <link rel="import" href="../bower_components/iron-icons/iron-icons.html">

    
    <style is="custom-style">
        
        
    paper-toolbar {
    
        background-color: #0D72BA;
        font-family: roboto;
        font-size: 20px;
        width: 330;
    }
    
    paper-scroll-header-panel {
    
        overflow-y: auto;
        width: 330;
    }    
        
    div.center {
    
        text-align: center;
    }    
        
        
    div.space {

        padding-bottom: 5px;
        padding-top: 5px;
            
        }
        
        .dnd-dragging {
                opacity: 0.5;
    }

    .dnd-dragging, .dnd-drag-occurring {
      cursor: url(packages/dnd/cursor/closedhand.cur), move; /* Cursor for IE. */
      cursor: url(packages/dnd/cursor/closedhand.cur) 7 5, move; /* Cursor for FF and Chrome (setting midpoint). */
    }

    .dnd-over {
      border-width: medium;
      border-color: #ff5722;
      border-style: dashed;
      background-color: white;
      opacity: 1;
    }

    .dnd-over * {
      display: none;
    }        
    
    .right-button {


        position: relative;
        left: 80px;
    
    }    

        
    </style>
    <template>
        
            <paper-scroll-header-panel>
            <paper-toolbar>
                
                
                <paper-icon-button icon="arrow-back"></paper-icon-button>
                <div>Components</div>
                <paper-icon-button class="right-button" icon="search"></paper-icon-button>
                <paper-icon-button class="right-button" icon="add-circle-outline"></paper-icon-button>
    
                </paper-toolbar>       
        <paper-scroll-header-panel>    
        <iron-ajax auto url="{{ filePath }}" handle-as="json" last-response="{{ components }}"></iron-ajax>
        <template is="dom-repeat" items="{{ components }}" as="component">
           
             <div class="space">
            <thumbnail-view  
               
                pic="{{ component.pic }}"
                tittle="{{ component.tittle }}"
                author_pic="{{ component.author_pic }}"
            
            ></thumbnail-view>
            </div>
             
            </template>
    </template>

<script>
     
    Polymer({
        is: "container-list",
        
         properties: {
            
            filePath: {
                type: String,
                value: "components.json"
            },
         }
        
        
        
    
      });
        
    </script>

</dom-module>

