
<script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="../bower_components/polymer/polymer.html">


<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">

<link rel="import" href="thumbnail-view.html">

<link rel="import" href="attributes-list.html">


<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">


<dom-module id="default-view">
    
     <style>
    
         
    /*DRAG AND DROP      
    /* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; 
    
}
    .dnd-dragging {
  opacity: 0.5;
    }

    .dnd-dragging, .dnd-drag-occurring {
      cursor: url(../../packages/dnd/cursor/closedhand.cur), move; /* Cursor for IE. */
      cursor: url(../../packages/dnd/cursor/closedhand.cur) 7 5, move; /* Cursor for FF and Chrome (setting midpoint). */
    }

    .dnd-over {
      border-width: medium;
      border-color: #ff5722;
      border-style: dashed;
      background-color: white;
      opacity: 1;
    }

    .dnd-over * {
      display: none;
    }
         
         
    /* BACKGROUND */                
    .rectangle-box {     

        margin: 20px;
        position: relative;
        top: -650px; left: 600px;
        
        width: 500;
        height: 500;
        overflow: hidden;
        background: white;
        border-color: gray;
box-shadow: 0px 0px 2px 2px rgba(119, 119, 119, 0.3);
-moz-box-shadow: 0px 0px 2px 2px rgba(119, 119, 119, 0.3);
-webkit-box-shadow: 0px 0px 2px 2px rgba(119, 119, 119, 0.3); 
        
    }

    #pic {
        
        padding: 10px;
            
    }     
         
    #tittle {}
    
    #author_pic {

    }
         
    #characteristics {
        
        width: 300px;
        text-align: center;
            position: relative;
        left: 100px;

        
    }
         
     paper-toolbar {
    
        background-color: #0D72BA;
     }
         
    
    #behavior {}
         
    #other {}

    #embed {}
         
    #web {}     
    
    #comments {}     

    div.header {
    
        font-family: roboto;
        font-size: 25px;
        position: relative;
        left: 110px;
    }
         
    div.content {

        text-align: center;
    }     
    
         paper-icon-button.right-button {
            position: relative;
            float: right;
             left: 280px;
         }
         
    </style>
    <template>
        
        <div draggable="true" class="rectangle-box">
            
            
                <paper-toolbar>
                
                <attributes-list></attributes-list>    
                                           
                <div class="header">Plant</div>
                <paper-icon-button class="right-button" icon="close"></paper-icon-button>
    
                </paper-toolbar>
            
                <div class="content">            
                    <img id="pic" src="../images/plant.jpg">
                    <paper-textarea no-label-float id="characteristics" error-message="Invalid input!"                  label="Caracteristics" ></paper-textarea>    
                </div>
        
        </div>
        
    </template>

<script>
  

    Polymer({
        is: "default-view",
        properties: {
            
            pic: {
                type: String,
                value: ""
            },
            
            tittle: {
                type: String,
                value: ""
            },
        
            author_pic: {
                type: String,
                value: ""    
            },
            
            characteristics: {
                type: String,
                value: ""
            },       
    
            behavior: {
                type: String,
                value: ""
            },

            other: {
                type: String,
                value: ""
            },

            embed: {                
                type: String,
                value: ""
            },

            web: {
                type: Array,
                value: ""

            },     

            comments: {
                type: Array,
                value: ""

            }     
                }
    });
    
    </script>

</dom-module>

