<dom-module id="thumbnail-view">
    
    
     <style>
         
    /* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; 
    
}
                    
    .rectangle-box {
        
        margin-left: 6px;
        position: relative;
        width: 320;
        height: 66;
        overflow: hidden;
        background: white;
        border-color: gray;
box-shadow: 0px 0px 2px 2px rgba(119, 119, 119, 0.3);
-moz-box-shadow: 0px 0px 2px 2px rgba(119, 119, 119, 0.3);
-webkit-box-shadow: 0px 0px 2px 2px rgba(119, 119, 119, 0.3); 
    }

    paper-material {

            position: relative;
        width: auto;
        height: 66;
        overflow: hidden;
    
    
    }     
         
    #pic { 
        
        padding-top: 2;
        display: block;
        float: left;
        position: absolute;
        width: 60px; 
        height: 60px;

    
    }     
         
    #tittle {
        
        position: relative;
        top: -8;
        display: block;
        font-size: 25px;
        text-align: center;
        vertical-align: middle;
        font-family: roboto;
    
    }
    
    #author_pic {
        position: absolute;
        top: 10px;
        right: 20;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        background: url({{ author_pic }}) no-repeat;

    }     
      
    .dnd-dragging {
  opacity: 0.5;
    }

    .dnd-dragging, .dnd-drag-occurring {
      cursor: url(../packages/dnd/cursor/closedhand.cur), move; /* Cursor for IE. */
      cursor: url(../packages/dnd/cursor/closedhand.cur) 7 5, move; /* Cursor for FF and Chrome (setting midpoint). */
    }

    .dnd-over {
      border-width: medium;
      border-color: #ff5722;
      border-style: dashed;
      background-color: white;
      opacity: 1;
    }

    .dnd-over * {
      display: none;
    }

         
    </style>
    <template>
        

        <div draggable="true" class="rectangle-box">
            
            <img id="author_pic" align="right" src="{{ author_pic }}">
            
            <img  id="pic" ng-src="{{ pic }}">
            <p id="tittle">{{ tittle }}</p>
        
        </div>
  
    </template>

<script>
  

    Polymer({
        is: "thumbnail-view",
        properties: {
            
            pic: {
                type: String,
                value: ""
            },
            
            tittle: {
                type: String,
                value: ""
            
            },
        
            author_pic: {
                type: String,
                value: ""
            
            }      
        }
    });
    
    </script>

</dom-module>

