
<dom-module id="components-header">
    
    <link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
 <link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
 <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
     <link rel="import" href="../bower_components/iron-icons/iron-icons.html">

    
    <style is="custom-style">
        
        
    paper-toolbar {
    
        background-color: #0D72BA;
        font-family: roboto;
        font-size: 20px;
        width: 330;
    }
    
    paper-scroll-header-panel {
    
        overflow-y: auto;
        width: 330;
    }    
        
    div.center {
    
        text-align: center;
    }    
        
        
    div.space {

        padding-bottom: 5px;
        padding-top: 5px;
            
        }
        
    .right-button {


        position: relative;
        left: 80px;
    
    }    

        
    </style>
    <template>
        
            <paper-toolbar>
                            
                <paper-icon-button icon="arrow-back"></paper-icon-button>
                <div>Components</div>
                <paper-icon-button class="right-button" icon="search"></paper-icon-button>
                <paper-icon-button class="right-button" icon="add-circle-outline"></paper-icon-button>
    
                </paper-toolbar>       
    </template>

<script>
     
    Polymer({
        is: "components-header",
             
    
      });
        
    </script>

</dom-module>

