<dom-module id="component-thumbnail">
    
    
     <style>
         
                    
    .rectangle-box {
        
        position: relative;
        overflow: hidden;
        height: 66px;
        background: white;
box-shadow: 0px 0px 2px 2px rgba(119, 119, 119, 0.3);
-moz-box-shadow: 0px 0px 2px 2px rgba(119, 119, 119, 0.3);
-webkit-box-shadow: 0px 0px 2px 2px rgba(119, 119, 119, 0.3); 
    }
         
    #pic { 
        
        padding: 5px;
        top: 3px;
        position: absolute;
        width: 60px; 
        height: 60px;
        
    }     
         
    #tittle {
        
        position: relative;
        font-size: 25px;
        top: 12px;
        text-align: center;
        vertical-align: middle;
        font-family: roboto;
    
    }
    
    #author_pic {
  
        position: relative;
        top: 10px;
        right: 20px;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        background: url({{ author_pic }}) no-repeat;

    }     
         
    </style>
    <template>
        

        <div draggable="true" class="rectangle-box">
            
            <img id="author_pic" align="right" src="{{ author_pic }}">
            
            <img  id="pic" src="{{ pic }}">
            <p id="tittle">{{ tittle }}</p>
        
        </div>
  
    </template>

<script>
  

    Polymer({
        is: "component-thumbnail",
        properties: {
            
            pic: {
                type: String,
                value: ""
            },
            
            tittle: {
                type: String,
                value: ""
            
            },
        
            author_pic: {
                type: String,
                value: ""
            
            }      
        }
    });
    
    </script>

</dom-module>

