
<dom-module id="project-thumbnail">
    
     <style>
         
    /* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; 
    
}
                    
    .rectangle-box-custom {
    
        background: white;
        width: 150;
        height: 150;
        margin: 5px;
        
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        
        
    }
     
    #pic {
    
        position: relative;
        border-radius: 50%;
        right: 25px;
        left: auto;
        width: 100px;
        height: 100px;
        padding: 10px;
    }
   
    div.title {
    
        margin: 5px;
        font-family: roboto;
        text-align: center;
    }
    div.pic {
    
        align-content: center;
        text-align: center;
    }     
         
    </style>
    
    <template>
        
        <div draggable="true" class="rectangle-box-custom">
            
            <div class="pic">
            <img id="pic" align="right" src="{{ pic }}">
            </div>
            
            <div class="title"><h3 id="title">{{ title }}</h3></div>
            
        
        </div>
  
    </template>

<script>
  

    Polymer({
        is: "project-thumbnail",
        properties: {
            
            pic: {
                type: String,
                value: ""
            },
            
            tittle: {
                type: String,
                value: ""
            
            },
        
            author_pic: {
                type: String,
                value: ""
            
            }      
        }
    });
    
    </script>

</dom-module>

