<html>
<header>
     
    <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="bower_components/paper-input/paper-input.html">
    
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    
    
 <link rel="import" href="polymer/project-thumbnail.html">
 
<script src="bower_components/angular/angular.min.js"></script>   
    
</header>
<body ng-app="App">
    
<input type="search" ng-model="search" placeholder="Search...">    
<div class="row" ng-controller="listProjects">
  

    <div class="col-md-2" ng-repeat='project in projects | filter: search'>
    
<a href="{{ project.id }}">        <project-thumbnail
                           
        pic="{{ project.pic }}"
        title="{{ project.title }}"                                      
           >
        
        </project-thumbnail></a>
</div>
    
    
    
</div>
    
<script src="workspace.js"></script>    

</body>    
    
</html>