<script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../polymer/component-thumbnail.html">
<link rel="import" href="../polymer/components-header.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<style>
    div.box {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    
    div.component-list {
        overflow-y: auto;
        height: 600px;
    }
</style>


<div class="jumbotron">
    <h1 class="text-center"> {{selectedProject.title}}</h1>
</div>

<div class="container main-content" style="padding:0px;">


    <div class="col-md-4 component-list">
        <components-header></components-header>

        <div ng-controller="ComponentsListController">

            <div class="box" ng-repeat=" component in components | filter: searchService.search" ng-style=" { 'background-color': component.tittle == componentService.selectedComponent.tittle ? 'yellow' : '' }">
                <div>
                    <component-thumbnail pic="{{ component.pic }}" tittle="{{ component.tittle }}" author_pic="{{ component.author_pic }}" ng-click="componentService.selectedComponent = component"></component-thumbnail>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-8" ng-controller="ComponentsDetailController">
        <div class="panel panel-default">
            <div class="panel-heading">Details</div>
            <div class="panel-body">
                <dl>
                    <dt> Tittle</dt>
                    <dd>{{componentService.selectedComponent.tittle}}</dd>
                    <dt> Pic</dt>
                    <dd>{{componentService.selectedComponent.pic}}</dd>
                    <dt> Author Pic</dt>
                    <dd>{{componentService.selectedComponent.author_pic}}</dd>

                </dl>

            </div>
        </div>
    </div>



</div>