<script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../polymer/project-thumbnail.html">

<div class="col-md-12 " ng-controller="ListProjectsController">
    <div ng-repeat='project in projects | filter: searchService.search'>
        <a ui-sref="listComponents"  class="col-md-2">
            <project-thumbnail pic="{{ project.pic }}" title="{{ project.title }}"  ng-click="selectProject(project)">
            </project-thumbnail>
        </a>
    </div>
</div>