<html>
<header>
 
      
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    
    
    <link rel="import" href="polymer/project-thumbnail.html">
 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    
</header>
<body ng-app="App">
    
<body ng-controller="listProjects">

    <div class="row" ng-controller="listProjects">

        <div class="col-md-2" ng-repeat='project in projects'>
            <div ng-click="remove($index)">
            <project-thumbnail 
            pic="{{ project.pic }}"
            title="{{ project.title }}"                                      
               >

                </project-thumbnail></div>


        </div>
    </div>

    <script src="workspace.js"></script>    

</body>    
    
</html>